.contenitore{
    max-width:1080px;
    margin: 0 auto;
}


/* elementi header */

#main-header{
    background-color: #03A9F4;
    background-image: url("../img/pattern.png");
    background-size: 40%;
    height:140px;
    line-height:150px;
}

#logo{
    height:50px;
    width:auto;
    position:relative;
    vertical-align:bottom;
    bottom: 20px;
    left: 5px;
}

/* elementi main*/

#titolo{
    font-size:40px;
}

.indirizzo{
    font-size:20px;
}

.grigio, h3{
    color:grey;
}

.azzurro{
    color:aqua;
}

.testo-piccolo{
    font-size:13px;
}

.immagini-tim{
    margin: 20px 0;
}

.evidenzia{
    background-color:rgb(223, 255, 40);
}

ul{
    padding-inline-start: 15px;
    list-style-position: outside;
}

table {
  border-collapse: collapse;
}

thead{
    background-color:rgb(129, 163, 255);
    color:white;
}

.sfondo_azzurro{
    background-color: rgb(122, 255, 226);
}

.width_50{
    width:50%;
}

/* elementi footer */

.sfondo_immagine{
    width:23%;
    height:200px;
    background-repeat: no-repeat;
    background-size:cover;
}

.testo_immagine{
    position:relative;
    top:15px;
    left:13px;
}

#pc{
    background-image: url("../img/monitor.jpg");
}

#grafico{
    background-image: url("../img/graph.jpg");
}

h2{
    color:white;
}