.contenitore{
    max-width:1080px;
    margin:0 auto;
}


/* elementi header */

#main-header{
    background-color: #03A9F4;
    background-image: url("../img/pattern.png");
    background-size: 40%;
    height:140px;
    line-height:150px;
}

#logo{
    height:50px;
    width:auto;
    position:relative;
    vertical-align:bottom;
    bottom: 20px;
    left: 5px;
}

/* elementi main*/

#titolo{
    font-size:40px;
}

.indirizzo{
    font-size:20px;
}

.grigio{
    color:grey;
}

.azzurro{
    color:aqua;
}

.testo-piccolo{
    font-size:13px;
}

.immagini-tim{
    margin: 20px 0;
}